@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /*** Removes Scrollbar ***/
    overflow-y: scroll;
    /*** Removes Scrollbar ***/
    scrollbar-width: none;
  }

  /*** Remove Scrollbar ***/
  body::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }
}
