@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-y: scroll;
    scrollbar-width: none;
    font-family: 'Familjen Grotesk', sans-serif;
}

/*** Remove Scrollbar ***/
body::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}